textarea, #preview {
    width: 50%;
    margin: 20px;
    height: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
    overflow: auto;
}

.hidden {
    display: none;
}

#previewBtn {
    margin-left: 20px;
}

#create {
    margin-left: 20px;
}

#language-selector {
    margin-left: 20px;
}
