textarea, #preview {
    width: 60%;
    margin: 20px;
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
}

.hidden {
    display: none;
}

#previewBtn {
    margin-left: 20px;
}

#create {
    margin-left: 20px;
}

#language-selector {
    margin-left: 20px;
}
